[DEFAULT]
access_token = your_twitter_access_token_no_quotes
access_token_secret = your_twitter_token_secret_no_quotes
consumer_key = your_twitter_consumer_key_no_quotes
consumer_secret = your_twitter_consumer_secret_no_quotes